body {
    font-family: Tahoma, sans-serif;
    background-color: #f3f3f3;
}

h1 {
    color: #f21d0d;
}

ul {
    border-left: 5px solid red;
    background-color: #cddb8f;
    padding: 10px;
}

li {
    list-style-type: none;
    margin: 5px 0;
}

a {
    text-decoration: underline ;
    color: #f21d0d;
}