{% extends "menu.html" %}

{% load static %}

{% block css_addition %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.rtl.min.css" integrity="sha512-VNBisELNHh6+nfDjsFXDA6WgXEZm8cfTEcMtfOZdx0XTRoRbr/6Eqb2BjqxF4sNFzdvGIt+WqxKgn0DSfh2kcA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
{% endblock %}


{% block pagename%}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    <ul>
        {% for game in products %}
            <h2>{{ game.title }}</h2>
            <p>{{ game.descriptions }}</p>
            <p>Стоимость: {{ game.cost }}
            {{ game }} <button type="submit" class="btn btn-primary"> Купить </button></p>
        <hr>
        {% endfor %}
    </ul>
   <div>
       <a href="/" style="text-decoration: none;">
           <button>Вернуться на главную страницу</button></a>
   </div>
{% endblock %}
</body>
</html>